[submodule "library/android-async-http"]
	path = library/android-async-http
	url = git://github.com/halzhang/android-async-http.git
	ignore = dirty
[submodule "library/commonlog"]
	path = library/commonlog
	url = git://github.com/halzhang/CommonLog.git
	ignore = dirty
[submodule "library/commontoast"]
	path = library/commontoast
	url = git://github.com/halzhang/CommonToast.git
	ignore = dirty
